<!DOCTYPE html>
<html>
  <head>
    <title>Favoritter</title>
    <!-- Jeg linker til CSS-filer -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForMainElements.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForMenuBar.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForTopOfPage.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForOverviewRight.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForOverviewLeft.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/views/styles/stylesForProfile.css"
    />
    <!-- Jeg link til en hjemmeside med symboler  -->
    <script
      src="https://kit.fontawesome.com/06ba53b28d.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Her er min menu bar i venstre side -->
    <div id="menuBar">
      <div id="homePage" class="menuButtons">
        <a href="homePage.html" class="menuButtonsLink">
          <i class="fa-solid fa-house fa-lg"></i>
        </a>
      </div>
      <div id="favorites" class="menuButtons">
        <a href="favorites.html" class="menuButtonsLink">
          <i class="fa-solid fa-heart fa-lg"></i>
        </a>
      </div>
    </div>
    <!-- Her er hele min højre side -->
    <div id="rightSide">
      <!-- Her er den øverste søgebar -->
      <div id="topOfPage">
        <div id="searchBarMenu">
          <div id="searchBarSide">
            <!-- her har jeg min søgebar -->
            <div id="searchBarField" onclick="goToSearch()">
              <button id="searchButton" onclick="search()">
                <i
                  class="fa-solid fa-magnifying-glass"
                  id="magnifyingGlass"
                ></i>
              </button>
              <p class="searchBarText">Tryk her for at søge</p>
            </div>
          </div>
          <!-- Her har jeg profiloplysninger og link til profilsiden -->
          <div id="profileSide">
            <a href="profile.html" class="menuButtonsLink">
              <p id="profileInfoFirstNameF"></p>
            </a>
            <a href="profile.html" class="menuButtonsLink">
              <p id="profileInfoLastNameF"></p>
            </a>
            <a href="profile.html" class="menuButtonsLink">
              <img
                src="http://cdn.onlinewebfonts.com/svg/img_569204.png"
                alt=""
                class="profilePhoto"
              />
            </a>
            <a id="loginIcon" class="menuButtonsLink" onclick="logOut()">
              <i class="fa-solid fa-right-from-bracket fa-lg"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Her har jeg mit overview  -->
      <div id="bottomOfPage">
        <div class="overview" id="overviewLeftFavorites">
          <header class="headingText">Favoritter</header>
          <div id="otherArticles"></div>
        </div>
      </div>
    </div>
  </body>

  <!-- Her linker jeg til mine script-filer -->
  <script src="/views/scripts/getAPI.js"></script>
  <script src="/views/scripts/clock.js"></script>
  <script src="/views/scripts/profile.js"></script>
  <script src="/views/scripts/search.js"></script>
  <script src="/views/scripts/getWeatherApi.js"></script>
  <script src="/views/scripts/getProfileInfoOnFavorites.js"></script>
</html>
