<!DOCTYPE html>
<html>
<head>
    <title>Forside</title>
    <!-- Jeg linker til CSS-filer-->
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForMainElements.css">
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForMenuBar.css">
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForTopOfPage.css">
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForOverviewRight.css">
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForOverviewLeft.css">
    <link rel="stylesheet" type="text/css" href="/views/styles/stylesForProfile.css">
   
    <!-- Jeg link til en hjemmeside med symboler  -->
    <script src="https://kit.fontawesome.com/06ba53b28d.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- Her har jeg min menu i venstre side-->
<div id="menuBar">
    <div id="homePage" class="menuButtons"> 
        <a href="homePage.html" class="menuButtonsLink">
            <i class="fa-solid fa-house fa-lg"></i>
        </a>
    </div>
    <div id="favorites" class="menuButtons">
        <a href="favorites.html" class="menuButtonsLink">
            <i class="fa-solid fa-heart fa-lg"></i>
        </a>
    </div>
</div>

<!-- Her er hele min højre side -->
<div id="rightSide">
    <!-- Her har jeg min menu øverst -->
    <div id="topOfPage">
        <div id="searchBarMenu">
            <div id="searchBarSide">
                <!-- her har jeg min søgebar -->
                <div id="searchBarField">
                    
                    <button id="searchButton" onclick="search()">
                        <i class="fa-solid fa-magnifying-glass" id="magnifyingGlass"></i>
                    </button>
                    <input type="text" id="searchBarFieldInput" placeholder="Søg efter emne, kilde og meget mere">
               
                <div id="languageButton">
                    <select name="language" id="languagesDropdown">
                        <option value="en">Engelsk</option>
                        <option value="de">Tysk</option>
                        <option value="fr">Fransk</option>
                    </select>
                    
        
                </div>
            </div> 
            </div>

            <!-- Her har jeg profiloplysninger og link til profilsiden -->
            <div id="profileSide">
                <a href="profile.html" class="menuButtonsLink">
                    <p id="frontPageProfileInfoFirstName"></p>
                </a>
                <a href="profile.html" class="menuButtonsLink">
                    <p id="FrontPageProfileInfoLastName"></p>
                </a>
                <a href="profile.html" class="menuButtonsLink">
                    <img src="http://cdn.onlinewebfonts.com/svg/img_569204.png" alt="" class="profilePhoto"> 
                </a>
                <a id="loginIcon" class="menuButtonsLink" onclick="logOut()">
                    <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Her har jeg mit overview  -->
    <div id="bottomOfPage">
        <!-- Her har jeg mine nyheder -->
        <div class="overview" id="overviewLeft">
            <header class="headingText"> Nyheder</header>
            <!-- Her har jeg min store nyhed -->
            <div id="bigArticle"></div>
            <!-- Her har jeg mine små nyheder -->
            <div id="otherArticles"></div>
        </div>
        <!-- Her har jeg vejret, tid mv. -->
        <div class="overview" id="overviewRight">
            <!-- Her har jeg tid -->
            <header class="headingText">Tid</header>
            <div id="timeBox">
                <div id="time">
                    <span id="span" class="timeText"></span>
                </div>
                <div id="date">
                    <h class="dateText">D. <h id="dateDay" class="dateText"></h> <h id="dateWeekday" class="dateText">&nbsp;</h>, <h id="dateMonth" class="dateText"></h> <h id="dateYear" class="dateText"></h></h> 
                </div>
                <div id="dateTimezone">
                    <p id="timeTimezone"></p>
                </div>
            </div>

            <!-- Her har jeg nuværende vejr -->
            <header class="headingText">Vejr</header>
            <div class="box" id="weatherBox">
                <div id="currentWeather">
                    <div class="currentWeatherTop">
                        <div id="currentWeatherTopIcon"></div>
                        <div id="currentWeatherTopTemp"></div>
                    </div>
                    <div class="currentWeatherBottom">
                        <p id="currentWeatherBottomLocation"></p>
                    </div>
                </div>
                
                <!-- Her har jeg solopgang og solnedgang-->
                <div class="currentSunriseLeft">
                    <img src="../Billeder/sunrise.png" id="sunriseIcon" alt="">
                </div>
                <div class="currentSunriseRight">
                <div id="currentSunrise">
                        <p class="currentSunriseRightTop">Sunrise</p>
                        <div class="currentSunriseRightBottom"></div>
                    </div>
                </div>

                <div class="currentSunsetLeft">
                    <img src="../Billeder/sunset.png" id="sunsetIcon" alt="">
                </div>
                <div id="currentSunset">
                    <p class="currentSunsetRightTop">Sunset</p>
                </div>
            </div>

            <!-- Her har jeg vejrudsigten -->
            <div class="box" id="forecastBox">
                <div id="forecastUpper">
                    <p>Forecast</p>
                    <a href="https://www.dmi.dk/lokation/show/DK/2618425/K%C3%B8benhavn/#9" class="readMoreButton">Read more</a>
                </div>
                <div id="forecastBottom">
                    <div id="forecastDayOne" class="forecastDay">
                        <p id="forecastWeekdayOne" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconOne" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempOne" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDayTwo" class="forecastDay">
                        <p id="forecastWeekdayTwo" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconTwo" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempTwo" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDayThree" class="forecastDay">
                        <p id="forecastWeekdayThree" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconThree" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempThree" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDayFour" class="forecastDay">
                        <p id="forecastWeekdayFour" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconFour" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempFour" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDayFive" class="forecastDay">
                        <p id="forecastWeekdayFive" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconFive" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempFive" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDaySix" class="forecastDay">
                        <p id="forecastWeekdaySix" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconSix" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempSix" class="forecastWeather"></p>
                    </div>
                    <div id="forecastDaySeven" class="forecastDay">
                        <p id="forecastWeekdaySeven" class="forecastWeekday"></p>
                        <div id="forecastWeatherIconSeven" class="forecastWeatherIcon"></div>
                        <p id="forcastWeatherTempSeven" class="forecastWeather"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
    
</body>
<!-- Her linker jeg til mine script-filer -->
<script src="/views/scripts/getAPI.js"></script>
<script src="/views/scripts/clock.js"></script>
<script src="/views/scripts/profile.js"></script>
<script src="/views/scripts/search.js"></script>
<script src="/views/scripts/getWeatherApi.js"></script>
<script src="/views/scripts/getProfileInfoOnHomePage.js"></script>

</html>