.bottom_right{
    flex-direction: column;
    display: flex;
    width: 50%;
    background:rgb(243, 241, 241);
    justify-content: center;
}

#title_right_tid{
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight:bold;
    margin-top: 15px;

}

.time_date_parent{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
#time_date{
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 250px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    font-family:"News Cycle", sans-serif;
    flex-direction: column;
    margin-bottom: 5px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);

}

#time{
    display: flex;
    font-size: 75px
}

#date{
    display: flex;
    font-size: 25px;
}

#title_right_vejr{

    display: flex;
    margin-left: 2%;
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 5px;
}
.weather_live_parent{
    position: relative;
    width: 95%;
    margin: 0 auto;
    
}
.weather_inline_parent{
    width: 100%;
}

.weather_live{
    
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 190px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-left: -15px;
    /* https://htmlcssfreebies.com/css-box-shadow-examples/ */
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1); 
    
}
.condition_width{
    width: 250px;
    text-align: center;
}

.sunrise_width{
    width: 100px;
    text-align: center;
}

.sunset_width{
    width: 150px;
    text-align: end;
}
.read_more_button_width{
    margin-top: 150px;
    margin-bottom: 15px;
    margin-left: 40px;
}

#temperature{
    font-size: 50px;
    margin-bottom: 10px;
}

#sunrise_icon{
    
    height: 64px;
    width: 64px;
}

#sunset_icon{
    height: 64px;
    width: 64px;
    
}

#read_more_button{
    border-radius: 5px;
    padding: 7px;
    font-size: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    
}

.weather_forecast_parent{
    position: relative;
    width: 95%;
    margin: 0 auto;
    
}

.weather_forecast{
    display: flex;
    border-radius: 5px;
    width: 100%;
    height: 190px;
    background-color: white;
    margin-left: 10px;
    margin-left: -15px;  
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -4px rgba(0,0,0,0.1);
}

.forecast_day_column{
    margin-top: 15px;
    width:86px;
    text-align: center;    
}
.day{
    font-size:20px;
}

#forecast_title {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 450px;
}



