.topLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgb(255, 255, 255);
  justify-content: center;
}

.search {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#searchBox {
  margin-left: 5px;
  width: 90%;
  display: flex;
  height: 50px;
  border-radius: 20px;
  padding-left: 10px;
  border-color: black;
}

#searchIcon {
  display: flex;
  margin-right: 5px;
  cursor: pointer;
}

.topRight {
  flex-direction: column;
  display: flex;
  width: 50%;
  background: rgb(255, 255, 255);
  justify-content: center;
}

#logOutIcon {
  padding-left: 10px;
  padding-right: 30px;
  cursor: pointer;
}

.topRightParent {
  display: flex;
  justify-content: flex-end;
}

#languageTitle {
  margin-left: 10px;
}

#langagesDropdown {
  padding: 5px;
  border-radius: 5px;
  border-color: black;
}
