.topLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  background: rgb(255, 255, 255);
  justify-content: center;
}

.search {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* #searchBox {
  margin-left: 5px;
  width: 90%;
  display: flex;
  height: 50px;
  border-radius: 20px;
  padding-left: 10px;
  border-color: black;
} */

#searchIcon {
  display: flex;
  margin-right: 5px;
  cursor: pointer;
}

.topRight {
  flex-direction: column;
  display: flex;
  width: 50%;
  background: rgb(255, 255, 255);
  justify-content: center;
}

#logOutIcon {
  padding-left: 10px;
  padding-right: 30px;
  cursor: pointer;
}

.topRightParent {
  display: flex;
  justify-content: flex-end;
}

#languageTitle {
  margin-left: 10px;
}

#langagesDropdown {
  padding: 5px;
  border-radius: 5px;
  border-color: black;
}

/* Her styler jeg den øverste del af forsiden */

/* Her styler jeg søgebaren */
#searchBarSide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDFE;
    width: 50%;
}

#searchBarMenu {
    display: flex;
    background-color: #FFFDFE;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.searchBarText {
    color: grey;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}


.searchBarField {
    display: flex;
    width: 90%;
    background-color: #FFFEFE;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.25);
    align-items: center;
}

#magnifyingGlass {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}


#searchButton {
    display: flex;
    background-color: #FFFEFE;
    border: 0px;
    cursor: pointer;
    flex-direction: row;
}

.searchBarFieldInput {
    display: flex;
    width: 90%;
    background-color: #FFFEFE;
    height: 50%;
    border-radius: 10px;
    box-shadow: none;
    align-items: center;
    border-style: none;
}


#langagesDropdown {
    padding: 5px;
    border-radius: 10px;
    border-style: none;
    margin-right: 10px;
  }


/* Her styler jeg profilsiden af den øverste menu/bjælke */
#profileSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #FFFDFE;
    width: 50%;
    flex-direction: row;
    justify-content: flex-end;
}

.profileInfoFirstName {
    display: flex;
    border: 0px;
    padding-right: 10px;
}

.profileInfoLastName {
    display: flex;
    border: 0px;
    padding-right: 10px;
}

#profilePhoto {
    display: flex;
    width: 35px;
    border-radius: 50%;
}

.menuButtonsLink {
    margin-right: 5px;
}

#loginIcon {
    display: flex;
    margin-right: 5%;
    margin-left: 10px;
    padding-left: 10px;

}


#logOutIcon {
    display: flex;
    margin-right: 5%;
    margin-left: 10px;
    padding-left: 10px;
}
